.login-background {
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .login-container {
        width: 350px;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 450px;


        .login-content {
            padding: 20px;


            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding: 15px;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        //hiểu thị bàn tay 
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                color: white;
                outline: none;
                border: none;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;

                .google {
                    font-size: 30px;
                    background: red;
                    color: white;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .facebook {
                    font-size: 50px;
                    width: 50px;
                    display: flex;
                    margin-left: 10px;
                }
            }
        }
    }
}